<div class="container-fluid">
	<div class="row">
    <div class="col-md-6 col-centered card card-block" style="background-color: #FFFFFF;">
			<div class="panel panel-default">
			</div>
        <form class="form-horizontal" role="form" [formGroup]="PasswordForm" novalidate>
						<!--<input type="hidden" name="_token" value="{{ csrf_token() }}">-->
						<div class="form-group">
							<label class="control-label">E-Mail</label>
							<div>
								<input type="email" class="form-control" name="email" formControlName="email">
							</div>
						</div>

            <div *ngIf="!PasswordForm.controls.email.valid && !PasswordForm.controls.email.pristine" class="alert alert-danger">
              <div *ngIf="PasswordForm.controls.email.hasError('required')">
                  請輸入你的電子郵件
              </div>
              <div *ngIf="PasswordForm.controls.email.hasError('emailValidator')">
                  請確定電子郵件格式有沒有錯誤
              </div>
              <div *ngIf="PasswordForm.controls.email.hasError('collegeEmailValidator')">
                  E-mail必須符合學校格式
              </div>
            </div>

						<div class="form-group">
							<div>
								<button type="submit" class="btn btn-secondary" (click)="sendRmail(PasswordForm)" [disabled]="!PasswordForm.controls.email.valid || sandbutton==0">
									寄送密碼連結
								</button>
							</div>
						</div>
				</form>
    </div>
	</div>
</div>